<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lovely Mom Excel Formatter</title>
        <style>
            ul#id_format li{ display: inline-block; }
            #format_selects { display: flex; align-items: center; }
        </style>
    </head>
    <body>
        <form action="{% url "index" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
            Instruction: <br>
            1. The information in an Excel has to be on the first sheet (look at the tab at the bottom in Excel). <br>
            2. Select the format of the file. <br>
            3. Upload file.
            </p>
            <p>Format:</p>
            <ol type="a">
                <li>Name: Column B, Description: Column F, Address: Column G - K</li>
                <li>Name: Column A, Description: Column H, Address: Column B</li>
                <li>Name: Column B, Description: Column E, Address: Column F - M</li>
            </ol>
            <p>The filter keywords: "ผลิต", "โรงงาน", "อิเล็กทรอนิกส์", "เกษตร".</p>
            <p>{{ form.non_field_errors }}</p>
            <p> {{ form.file.help_text }} </p>
            <p>{{ form.format.errors }}</p>
            <div id="format_selects">
                Format: 
                {{ form.format }}
            </div>
            <p>
                {{ form.file.errors }}
                {{ form.file }}
            </p>
            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>
</html>
