<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lovely Mom Excel Formatter</title>
    </head>
    <body>
        <form action="{% url "index" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
            Instruction: <br>
            1. The information in an Excel has to be on the first sheet (look at the tab at the bottom in Excel). <br>
            2. The companies' names have to be on B Column. <br>
            3. The companies' address have to be on D Column. <br>
            4. The companies' description have to be on E Column. <br>
            5. The filter keywords are "ผลิต", "โรงงาน", "อิเล็กทรอนิกส์". <br>
            </p>
            <p>{{ form.non_field_errors }}</p>
            <p> {{ form.file.help_text }} </p>
            <p>
                {{ form.file.errors }}
                {{ form.file }}
            </p>
            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>
</html>
